@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container class meant to force the page into an 8.5x11" page */
.printout {
  max-width: 10in;
  min-width: 10in;

  max-height: 11in;
  min-height: 11in;
}

ul li:before {
  content: "-";
  font-size: 10pt;
}

ul li {
  padding-left: 0.5rem;
  text-indent: -0.5rem;
}
